@import url('https://fonts.googleapis.com/css2?family=Allura&family=Muli:wght@400;600;700&display=swap');
:root{
    --purple: #9B51E0;
    --white: #FFFFFF;
    --black: #333333;
}


/* INFO SECTIONS: ACCOMMODATION, FACILITIES , etc */
/* .link_container{
    background-color: #efefef;
} */
#home-wrapper{
    background-color: #efefef;
}
  .info-container {
    width: 85%;
  margin: 0 auto;
  padding: 4rem 0;
  }

.info {
  margin: 0 7.5rem 9.5rem 7.5rem;
  width: 75rem;
  height: 28.75rem;
}

.info .flex .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}

.col {
  max-width: 45%;
}

.text-col {
    max-width: 36.625rem;
  }

.image-col {
    max-width: 38.375rem;
  }

.info__image {
  width: 100%;
}

.info__text {
    word-wrap: break-word;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #333333;
    padding-left: 0;
    padding-right: 5.75rem;
    margin-bottom: 2.5rem;
    max-width: 30.875rem;
  }

.info__text--smallTitle {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #000000;
  margin-bottom: 0.9375rem;
}

.info__text--bigTitle {
  font-size: 2.25rem;
  line-height: 2.8125rem;
  color: #333333;
  margin-bottom: 1.875rem;
}

.info__button {
  width: 14rem;
  height: 3.25rem;
  left: 51.625rem;
  top: 95.375rem;
  background: #9b51e0;
  border: 1px solid #9b51e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  font-size: 1.125rem;
  line-height: 2.25rem;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
}

/* Message section */
.message_text{
  margin: 30px auto;
  width: 35rem;
  text-align: center;
}
.message_button{
  margin-left: auto;
  margin-right: auto;
}


