@import url('https://fonts.googleapis.com/css2?family=Allura&family=Muli:wght@400;600;700&display=swap');
:root {
  --purple: #9b51e0;
  --white: #ffffff;
  --black: #333333;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.2px solid red; */
}
.fake-logo {
  font-family: 'Allura', sans-serif;
}
.landing-image {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
header {
  width: 92vw;
  height: 5vw;
  margin: 0 5% 0 8%;
  display: flex;
  flex-direction: row;
}
header .fake-logo {
  font-size: 3em;
  color: var(--white);
  width: 20%;
  display: flex;
  align-items: center;
}
.fake-logo a {
  color: var(--white);
}
nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
nav ul li a {
  color: var(--white);
  display: flex;
  flex-direction: row;
  font-family: 'Muli', sans-serif;
}
nav ul li a:hover {
  color: var(--purple);
  transition: 0.5s;
}
nav button {
  margin-left: 5%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: var(--purple);
  border: none;
}
nav button a {
  font-size: 1.3em;
  color: var(--white);
  font-family: 'Muli', sans-serif;
}
nav button:hover {
  transition: 0.5s;
  border: 1px solid var(--white);
  cursor: pointer;
}
.burger {
  display: none;
}
.center-text {
  width: 70%;
  margin: 10% 15% 20% 15%;
  font-family: 'Muli', sans-serif;
  color: var(--white);
}
.center-text p:nth-child(1) {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}
.center-text p:nth-child(2) {
  font-size: 1.5em;
  text-align: center;
  line-height: 2.5rem;
  margin: 3rem 18rem 0 18rem;
}
.center-text button {
  width: 20%;
  height: 50px;
  margin: 8% 40% 5% 40%;
  border: 2px solid var(--white);
  background: transparent;
  color: var(--white);
  font-size: 1.2em;
  text-transform: uppercase;
}
.center-text button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: 0.8s;
  cursor: pointer;
}

/* ===HISTORY==== */

.history {
  margin: 0 60px;
}

.history .flex .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}

.col {
  max-width: 45%;
}

.history__image {
  width: 100%;
}

.history__text {
  word-wrap: break-word;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}

.history__text--smallTitle {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 15px;
}

.history__text--bigTitle {
  font-size: 36px;
  line-height: 45px;
  color: #333333;
  margin-bottom: 30px;
}

.history__button {
  width: 224px;
  height: 52px;
  left: 826px;
  top: 1526px;
  background: #9b51e0;
  border: 1px solid #9b51e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
}

@media screen and (max-width: 1440px) {
}

@media all and (max-width: 1024px) {
  .history .flex .row {
    flex-wrap: wrap;
  }
  .history .row .col {
    flex-basis: 100%;
    max-width: 100%;
  }

  .history__text {
    margin-top: 40px;
  }
}
