/* css variables */
:root {
  --purple: #9b51e0;
  --white: #ffffff;
  --black: #333333;
}

/* general styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
#room-wrapper,
.link_container {
  background: #e5e5e5;
}

img {
  width: 100%;
}

/* main styling */
.main-container {
  width: 85%;
  margin: 0 auto;
  padding: 9rem 0 2rem 0;
}

h1.main-heading {
  font-weight: bold;
  font-size: 36px;
  color: var(--black);
  margin-bottom: 3rem;
}

/* Each room section style */
section.room {
  margin: 3rem 0;
}

.room__name {
  font-size: 24px;
  color: var(--purple);
  margin: 2rem 0;
}

/* room images displayed as a grid */
.room__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 2rem 0;
}

.room__image1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.room__image2 {
  height: 100%;
}

.room__image3 {
  height: 100%;
}

.room__info {
  display: flex;
  justify-content: space-between;
}

.room__price {
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  margin: 0.5rem 0;
}

.room__features {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: var(--black);
}

/* button style */
.room__button {
  margin: 10px 0px;
  padding: 0.5rem 2rem;
  font-size: 18px;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
  border: none;
}

/* button effects */
.room__button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #9b51e0;
}

.room__button:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* MEDIA QUERIESS */
@media all and (max-width: 520px) {
  .main-container {
    padding: 4rem 0;
  }

  h1.main-heading {
    font-size: 25px;
    margin-bottom: 1.5rem;
    padding-top: 2rem;
  }

  section.room {
    margin: 2rem 0;
  }

  .room__images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem;
    margin: 1rem 0;
  }

  .room__image1 {
    grid-column: 1;
    grid-row: 1;
  }

  .room__image2 {
    grid-row: 2;
  }

  .room__image3 {
    grid-row: 3;
  }

  .room__info {
    flex-direction: column;
  }

  .room__price {
    font-size: 1rem;
    line-height: 15px;
    margin: 0.5rem 0;
  }

  .room__features {
    font-size: 1rem;
    line-height: 20px;
  }

  .room__button {
    width: 150px;
    margin: 1rem 0;
    font-size: 1rem;
  }
}
